/* Imports */
@import url( "yui_reset_3.4.1.css" );
@import url( "clearfix.css" );

/* Everything else */

body {
	margin: 20px;
}

div#graph {
	border: 1px solid black;
	width: 800px;
	height: 800px;
}

.link {
	stroke: #808080;
}

.nodetext {
	pointer-events: none;
	font: 10px sans-serif;
	text-align: center;
	text-transform: uppercase;
}

.personNode { cursor: help; }

div#person {
	display: none;
}