/* Imports */
@import url( "yui_reset_3.4.1.css" );
@import url( "clearfix.css" );

/* Everything else */

body {
	margin: 20px;
	font-size: 63%;
	font-family: Helvetica, Verdana, sans-serif;
}

header, nav {
	width: 100%;
	text-align: center;
}

a {
	text-decoration: none;
}

div#graph {
	border: 1px solid black;
	width: 800px;
	height: 800px;
}

.link {
	stroke: #808080;
}

.nodetext {
	pointer-events: none;
	font: 1em sans-serif;
	text-align: center;
	text-transform: uppercase;
	font-weight: normal;
}

.personNode { cursor: pointer; }

div#person {
	display: none;
}

ol#filmsList li {
	text-align: left;
	display: inline;
	float: left;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0 1em 0 0;
	font-size: 1.6em;
}

h1, h2, h3, h4, h5 {
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

h2 {
	font-size: 1.8em;
}

p {
	font-size: 1.2em;
	line-height: 1.5;
}